{% extends 'index.html' %}
{% block changepassword %}class="active"{% endblock %}
{% block content %}

<div class="container">
   
<h2>Change Password</h2>
<br/><br/> 
	<form method="POST"  >
		{% csrf_token %}

        <div class="form-group">
            <label for="cat">Old Password</label>
	        <input  type="password" class="form-control" name="opass" placeholder="Enter old Password" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="cat">New Password</label>
	        <input  type="password" class="form-control" name="npass" placeholder="Enter new password" required autocomplete="off">
        </div>

        <div class="form-group">
            <label for="cat">Confirm Password</label>
	        <input  type="password" class="form-control" name="cpass" placeholder="Enter confirm password" required autocomplete="off">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
 

<!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
<script>
$("#myform").validate({
  rules: {
    fname: {
      required: true,
      lettersonly: true
    }
  }
  messages:{
  	fname: "Please enter valid first name."
  }
});
</script>-->

{% endblock %}